<% content_for :tweets_index_title do %>
    Sent
<% end %>

<% content_for :tweets_index_header do %>
    <th>id</th>
    <th>Tweet</th>
    <th>Sent</th>    
    <th>Status</th>
    <th>Attempts</th>
<% end %>

<% content_for :tweets_index_body do %>
    <% @tweets.each_with_index do |t, i| %>
        <tr>
            <td> <%= t.id %> </td>
            <td> <%= t.content %></td>
            <td> <%= t.sent_at_time %> </td>
            <td> <%= t.status %> </td>
            <td> <%= t.attempts %> </td>
        </tr>
    <% end %>
<% end %>
