<% content_for :head do %>
    <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.css" %>
<% end %>

<% content_for :js do %>

    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" %>
    <%=  javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js" %>


    <script type="text/javascript">

     var queue_data_x = ['x', "<%= build_dates(@qstart, @qend) %>" ];
     var queue_data_y = ['QUEUE', <%= build_data(Tweet::SENDING_STATES, @qstart, @qend) %> ];
     var tweetometer_data_x =['x', "<%= build_dates(@tstart, @tend) %>" ];
     var tweetometer_data_y = ['TWEETS', <%= build_data(Tweet::SENT_STATES, @tstart, @tend, "sent_at") %> ];

     var queued_chart = build_queued_chart();
     var tweetometer_chart = build_tweetometer_chart();

    </script>

<% end %>


<!-- PAGE CONTENT -->

<% content_for :header do %>
    <h3>DASHBOARD</h3>
<% end %>

<%= render partial: "/layouts/flash" %>

<!-- quick queue -->
<%= render partial: "tweets/dashboard/quick_queue" %>

<hr/>

<!-- TweetOmeter -->
<%= render partial: "tweets/dashboard/tweetometer" %>
