<%= render partial: "show_queue" if current_page?(queue_path)%>
<%= render partial: "show_sent" if current_page?(sent_path)%>

<%= content_for :header do %>
    <h3>
        <%= yield :tweets_index_title %>
    </h3>
<% end %>

<%= render partial: "/layouts/flash" %>

<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <%= yield :tweets_index_header %>
            </tr>
        </thead>

        <tbody>
            <%= yield :tweets_index_body %>
        </tbody>
    </table>
</div>
