<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid navbar-container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("logo.png") %>
          <h3 class="navbar-title">TWEEPEAT</h3>
      <% end %>

    </div>

    <!-- constant nav -->
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-left">
          <li class= "<%= is_active?(tweets_path) %>">
              <%= link_to tweets_path do %>
                  <div class="glyphicon glyphicon-dashboard" aria-hidden="true"></div>
                  <div class="nav-text">DASHBOARD</div>
              <% end %>
          </li>

          <li class= "<%= is_active?(new_tweets_importer_path) %>">
              <%= link_to new_tweets_importer_path do %>
                  <div class="glyphicon glyphicon-file" aria-hidden="true"></div>
                  <div class="nav-text">IMPORT</div>
              <% end  %>
          </li>

          <li class= "<%= is_active?(queue_path) %>">
              <%= link_to queue_path do %>
                  <div class="glyphicon glyphicon-time" aria-hidden="true"></div>
                  <div class="nav-text">QUEUE</div>
              <% end %>
          </li>

          <li class= "<%= is_active?(sent_path) %>">
              <%= link_to sent_path do %>
                  <div class="glyphicon glyphicon-sunglasses" aria-hidden="true"></div>
                  <div class="nav-text">SENT</div>
              <% end %>
          </li>
      </ul>

      <!-- mobile -->
      <ul class="nav navbar-nav navbar-right navbar-mobile">
          <li><%= link_to "SETTINGS | INFO", edit_account_path(current_user) %></li>
          <li><%= link_to "LOGOUT", destroy_user_session_path %></li>
      </ul>

      <!-- desktop -->
      <ul class="nav navbar-nav navbar-right navbar-desktop">
          <li>
              <% if current_user %>
                  <div class="dropdown">
                      <button id="dLabel" type="button" class="navbar-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-image: url('<%= current_user.image_url %>');">
                      </button>

                      <ul class="dropdown-menu" aria-labelledby="dLabel" role="menu">
                          <li><%= link_to "SETTINGS | INFO", edit_account_path(current_user) %></li>
                          <li><%= link_to "LOGOUT", destroy_user_session_path %></li>
                      </ul>
                  </div>
              <% end %>

          </li>



      </ul>

    </div>
  </div>
</nav>
